*custom font*/
/* @import url(https://fonts.googleapis.com/css?family=Montserrat); */

/*basic reset*/
* {margin: 0; padding: 0;}

html {
  background: #FFF;
  height:500px;
}

body {
  font-family: montserrat, arial, verdana;
  margin-top: 15%;
}

#notComplete, #submitGood, #dbError {
  display:none;
}
#results {
  margin: 0 auto;
  text-align:center;
  width:600px;
  margin-top:50px;
  color:#222;
}

/*form styles*/
#msform {
  width: 1500px;
  /* height: 450px; */
  margin: 50px auto;
  text-align: center;
  position: relative;
  margin-top: 1px;
}
#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;

  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;

  /*stacking fieldsets above each other*/
  position: absolute;
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform input, #msform textarea, #msform select {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 6px;
  /* width: 100%; */
  box-sizing: border-box;
  font-family: montserrat;
  color: #222;
  font-size: 13px;
}
/*buttons*/
#msform .action-button {
  width: 150px;
  background: #DA4453;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 5px 5px;
  margin: 10px 5px;
  border-radius: 5px;
  
}
#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #DA4453;
}
/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #222;
  margin-bottom: 10px;
}
.fs-subtitle {
  font-weight: normal;
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
  
}
div.stickyprogress{
  position: -webkit-sticky;
  position: sticky;
  top: 20;
  padding:5px;
}
#progressbar li {
  list-style-type: none;
  color: #222;
  text-transform: uppercase;
  font-size: 10px;
  width: 12%;
  float: left;
  position: relative;
  left: 6%;
}
#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 25px;
  line-height: 20px;
  display: block;
  font-size: 10px;
  color: #FFF;
  background: #222;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #222;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
  background: #DA4453;
  color: white;
}


#msform  .form-input{
  height: 30px;
  width: 450px;
  padding-top:3px;
  margin-bottom: 8px;
  padding-bottom: 3px;;
}

#msform  .form-label{
  width:350px;
  margin-right:40px;
  text-align: left;
  /* margin-top:2px; */
  height: 30px;
}
.msform-general{
  height: 900px;
}
.gerenal-fieldset{
  height: 800px;
  position: relative;
}
.education-fieldset{
  height: 650px;
  position: relative;
}
.family-fieldset{
  height: 520px;
  position: relative;
}
.personalinfo-fieldset{
  height:650px;
  position: relative;
}
.maritalinfo-fieldset{
  height: 490px;
  position: relative;
}
.professional-fieldset{
  height: 250px;
  position: relative;
}
.prefered-lifepartner-fieldset{
  height: 580px;
  position: relative;
}
#msform #form-button{
 
  margin-left: -27px;
  position: absolute;
  top:90%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#msform #form-button-1{
  left: 50%;
  position: absolute;
  top:90%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#msform #form-button-11{
  left: 30%;
  position: absolute;
  top:90%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#msform #form-button-21{
  left: 30%;
  position: absolute;
  top:90%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#msform #form-button-2{
  left: 50%;
  position: absolute;
  top:90%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#msform #form-button-4{
  left: 50%;
  position: absolute;
  top:90%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#msform #form-button-41{
  left: 30%;
  position: absolute;
  top:90%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#msform #form-button-5{
  left: 50%;
  position: absolute;
  top:90%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#msform #form-button-51{
  left: 30%;
  position: absolute;
  top:90%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#msform #form-button-61{
  left: 30%;
  position: absolute;
  top:90%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
#msform #form-button-6{
  left: 50%;
  position: absolute;
  top:90%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


#msform #form-button-71{
  left: 30%;
  position: absolute;
  top:90%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#msform #form-button-7{
  left: 50%;
  position: absolute;
  top:90%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
